@model AuctionLand.Web.Models.RealEstateModel

@{
    ViewBag.Title = "BidTest";
}
<div class="container" id="ContainerMaxWidth900">

    <label>RealEstateId</label>
    <input id="RealEstateId" type="text" /><br/>
    <label>Bid Amount</label>
    <input type="number" id="BidAmount" /><br/>
    <input type="button" class="btn btn-success" value="Bid" />

</div>