@{
    ViewBag.Title = "Auction Land";
}
<div class="container" id="ContainerMaxWidth900">
    <div class="jumbotron text-center">
        <h1>Welcome home</h1>
        <p class="lead">We help people find homes, properties and a place to start fresh.</p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
        <img src="~/Images/homeMainImage.jpg" class="img-responsive" />
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                All you need is to know what you're looking for it, it can be the location, the type of home, even your budget. Just a quick search gets you on your way, or you can check out our featured properties.
            </p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-8">
            <h2>Auctions are starting soon so don't miss out! </h2>
            <p>Your dream home could be just that if you don't bid! Make sure your dream comes true by checking out online auction today.</p>
            <p><a class="btn btn-default" href="#">Learn more &raquo;</a></p>
        </div>
    </div>
</div>
