@{
    Layout = null;
}
<!-- THE 'style=" display: none"' KEEPS THE FORM HIDDEN SO IT DOESNT DISPLAY AT THE BOTTOM OF THE PAGE -->

    <div class="searchBOOTBOX" style="display:none">

    <div class="col-sm-4" id="locationSearch">
        <h4>Location</h4>
        <label for="contact-name" class="control-label" id="cityLabel">City: </label>
        <input type="text" class="form-control" id="searchCity"
               placeholder="Enter city">

        <label for="contact-name" class="control-label">State: </label>
        <input type="text" class="form-control" id="searchState"
               placeholder="Enter state">

        <label for="contact-name" class="control-label">Zip: </label>
        <input type="text" class="form-control" id="searchZip"
               placeholder="Enter zip">
    </div>

    <div class="col-sm-4" id="amenitiesSearch">
        <h4>Amenities</h4>

        <label for="contact-name" class="control-label">Bedrooms: </label>
        <form action="demo_form.asp" method="get">
            <input type="range" name="points" min="0" max="10" id="searchBedrooms">
        </form>

        <label for="contact-name" class="control-label">Bathrooms: </label>
        <!--<form action="demo_form.asp" method="get">
            <input type="range" name="points" min="0" max="10" id="searchBathrooms">
        </form>-->
        <div class="well">
            <div class="slider slider-horizontal" id="sliderDivId2"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 50%;"></div><div class="slider-handle round" style="left: 50%;"></div><div class="slider-handle round hide" style="left: 0%;"></div></div><div class="tooltip top" style="top: -40px; left: 23.5px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">Current value: 5</div></div><input type="text" id="sl1" value="4" class="span2" style=""></div>
        </div>

        <label for="contact-name" class="control-label">Garages: </label>
        <form action="demo_form.asp" method="get">
            <input type="range" name="points" min="0" max="10" id="searchGarages">
        </form>
    </div>

    <div class="col-sm-4" id="pricingSearch">
        <h4>Pricing</h4>
        <label for="contact-name" class="control-label">Bid Price Min </label>
        <form action="demo_form.asp" method="get">
            <input type="range" name="points" min="0" max="100000" id="sliderBidMin">
        </form>

        <label for="contact-name" class="control-label">Bid Price Max </label>
        <form action="demo_form.asp" method="get">
            <input type="range" name="points" min="100001" max="10000000" id="sliderBidMax">
        </form>

        <label for="contact-name" class="control-label">Property Type </label>
        <div class="row">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" id="propertyDropDown">
                    Select Property Type <span class=" caret">
                    </span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Single Family</a></li>
                    <li><a href="#">Multiple Family</a></li>
                    <li><a href="#">Condo or Townhome</a></li>
                    <li><a href="#">Land</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>

